<div class="main">
    <h1>Visite virtuelle des habitats naturels </h1>
    <div class="container">
        <div 
            class="continent" 
            *ngFor="let continent of continents"
        >
        <a 
            class="image-text" 
            [href]="continent.link"
        >
            <div class="image-container">
                <img 
                    [src]="continent.imageUrl" 
                    [alt]="continent.text"
                >
            </div>
            <span class="">
                {{ continent.text }}
            </span>
        </a>
        </div>
    </div>
</div>
  