<div class="main">
    <div class="left">
        <div class="bouttonRedirection">
            <button ></button>
        </div>
        <div class="container">
            <div 
            class="avi" 
            *ngFor="let avi of avis"
            >
                <h2> {{ avi.title }} </h2>

                <span class="aviText">
                    {{ avi.text }}
                </span>
            </div>
        </div>
    </div>
    <div class="right">
        <!-- image css  -->
    </div>
</div>
  