// Base graphique

$color_level-00: #000000;
$color_level-01: #01221B;
$color_level-02: #1B3001;
$color_level-03: #4E5F01;
$color_level-04: #5D978A;
$color_level-05: #FFFFFF; 
$color_level-06: #E8AE3D;

//Code couleur pour les actions possibles des personnes connectées
$color_action_possible: #00FFE0;

// Code couleur pour les commentaires cachés
$color_hidden_from_users: #FA00FF;